@use "../../../sass/mixin";
@use "../../../sass/variables";


.form_container{
 width: min(100%, 685px);
 padding: 12px 30px 0 30px;

}

.listForm {
 display: flex;
 justify-content:space-between;
 input[type="text"]{
  background: none;
  border: none;
  color: variables.$pure-red;
  @include mixin.bodyI;
  outline: none;
  width: 100%;
 }

 button{
  background: none;
  border: none;
  outline: none;

  &:hover svg{
   color: variables.$pure-lilas;
  }

 }

}